* {
    box-sizing: content-box;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #F0E6FF;
}


.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .ephesis-regular {
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Work+Sans:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;1,400;1,700&display=swap');

  
p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }


h1, h2, h3 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}  


h2{
    font-size: 30px;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 60px;
    background-color:#aab8c4;
    height: 80px;
}
 
.inicio {
    display: flex;
    align-items: center;
    gap: 10px; 
 
}
.inicio h2 {
    font-family: "Ephesis", cursive;
    font-size: 36px;
    letter-spacing: 1px;
    margin-right: 0;
}

.inicio img{
    width:100px;
    margin-top: 5px;
}

.content_search form {
    display: flex;
    align-items: center;
    gap: 10px;
} 

.content_search input {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    padding: 8px 20px;
    font-size: 12px;
    border: 2px solid #172852;
    border-radius: 10px;
    width: 250px;
}

form button[type="submit"] {
    font-size: 14px;
}  

.content_search button {
    padding: 5px 10px;
    font-size: 10px;
    background-color: #172852;
    color: #F0E6FF;
    border-radius: 5px;
    border: 1px solid #1f1f20;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    height: 25px;
    width: 20px;
}

.content_search button:hover {
    background-color:#F0E6FF;
    color: #1f1f20;
    border-color: #172852;
}


header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}

header ul a{
    font-family: "Kanit", sans-serif;
    color: #172852;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

header ul a:hover{
    color:  #1f1f20;
    transform: scale(1.2);
}


.hero{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.hero h1 {
    color: #F0E6FF;
    font-size: 40px;
    line-height: 10px;
    text-align: center;
    width: 100%;
    background-color: #172852;
    padding: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.recetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recetas h2 {
    width: 100%;
    text-align: center;
}

.recetas_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;   
}



.receta{
    
    grid-column: span 3;
    background-color: #458AC8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.receta a{
    font-family: "Kanit", sans-serif;
    color: #F0E6FF;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    background-color: #172852;
    border-radius: 10px;
    padding: 5px 15px;
    transition: color 0.3s ease-in-out, backgroundcolor 0.3s ease-in-out, font-weight 0.3 ease-in-out;
}

.receta a:hover{
    color:#172852;
    background-color: #F0E6FF;
    font-weight: 700;
}


.receta h3{
    font-family: "Work Sans", sans-serif;
    word-break: break-word;
    text-align: center;
    padding: 0 10px;
    color: #1f1f20;
    text-align: center;
    max-width: 90%;
}

.receta img {
    width: 100%;
    border-radius: 20px;
    
}


.content {
    font-family: "Work Sans", sans-serif; 
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f5eeee;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #1f1f20;
    overflow: hidden;
    text-align: left;
}
  

.content h1 {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    text-align: center;
    color: #1f1f20;
    padding: 10px 0;
    border-top: 2px solid #1f1f20;
    border-bottom: 2px solid #1f1f20;
}
  
.content img {
    width: 70%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 #1f1f20;
}
  
.content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #1f1f20;
    display: inline-block;
    border-bottom: 5px solid #458AC8;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 20px;
    text-align: left;
}


.content ul {
    margin: 0 0 20px 0;
    padding-left: 20px;
    font-weight: 600;
    font-style: italic;
}
  
.content li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.5;
    list-style-type: disc;

}
  
.content p {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    margin-top: 10px;

}
  
.content .food_info {
    margin-top: 70px;
    padding: 10px 20px;
    background-color: #f7f3f3;
    border-left: 6px solid #458AC8;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    font-size: 16px;
}
  
.content .food_info .info {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color:#1f1f20;
    padding: 10px 15px;
    font-weight: normal;
    font-style: italic;
}

.info_label:lang(es) {
    font-weight: bold;
    color: #1f1f20;
    display: block;
}


.back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#backHome {
    font-family: "EB Garamond", serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #172852;
    color: #F0E6FF;
    padding: 15px 20px;
    cursor: pointer;
    border: 2px solid #172852;
    box-shadow: 0 5px 5px rgba(23, 40, 82, 0.2);
    border-radius: 10px;
    transition: color 0.3s ease-in-out, backgroundcolor 0.3s ease-in-out;
    letter-spacing: 1px;
}


#backHome:hover {
    background-color: #F0E6FF;
    color: #172852;
    box-shadow: 0 5px 5px rgba(23, 40, 82, 0.2);
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #172852;
    margin-top: 50px;
    color: #458AC8;
    box-sizing: border-box;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px 0 30px 0;
    padding-bottom: 10px;
}

.redes p {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.redes img {
    width: 20px;
    height: 30px;
}


.logos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.copyright {
    width: 100%;
    background-color: #111d3a;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 50px;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 20px;
      gap: 20px;
    }


.inicio {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
    
.inicio img {
    width: 60px;
    margin-top: 0;
}
    
.inicio h2 {
    font-size: 24px;
}
    
.content_search form {
    flex-direction: row;
    align-items: center;
    width: 100%;
}
  
.content_search input {
    width: 90%;
    font-size: 14px;
}
  
.content_search button {
    width: auto;
    height: auto;
    font-size: 12px;
}

header ul {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header ul a {
    font-size: 12px;
}

.hero {
    padding: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 24px;
    line-height: 1.2;
}
  
.recetas_grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
 }
  
.receta {
    grid-column: span 12;
    width: 100%;
}
  
.recetas h2 {
    font-size: 20px;
}
.content {
    padding: 20px;
    margin: 20px 10px;
}
  
.content h1 {
    font-size: 24px;
}
  
.content img {
    width: 100%;
}
  
.content h2 {
    font-size: 20px;
}
  
.content .food_info {
    grid-template-columns: 1fr;
    gap: 5px;
}

.food_info .info{
     font-size: 12px;
}

#backHome {
    font-size: 12px;
    padding: 10px 15px;
}

.footer {
    padding: 20px;
    text-align: center;
}
  
.redes p {
    font-size: 16px;
}
  
.logos {
    flex-wrap: wrap;
    gap: 10px;
}

.copyright{
    font-size: 12px;
    padding: 10px 20px;
}
}
  